.animal {
    margin-left: 2px;
}

img {
    height: 200px;
    width: 246px;
}

.gif-result{float: left; padding: 2px;}

.right-side {
    padding: 2px;
    margin-bottom: 2px;
}
#image-search {
    margin-bottom: 5px;
}

